/*---------------
    RESET
---------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/*---------------
    UTILITIES
---------------*/
.blue-bg-color{
    background-color: blue;
}

/*---------------
    COMMON
---------------*/
header,
footer{
    height: 3.75rem;
    display: flex;
    align-items: center;
    padding: 0 1.5625rem;
}

/*---------------
    HEADER
---------------*/
header {
    justify-content: space-between;
}

header select,
header button{
    background-color: #e9e9ed;
    border-radius: .25rem;
}

header button{
    padding: .125rem 1.875rem;
    border: 1px solid #8f8f9d;
}

header select{
    width: 10.625rem;
}

/*---------------
    MAIN
---------------*/
main{
    flex-grow: 1;
    background-color: #7fffd4;
    display: flex;
}

main .cell-container {
    width: 31.25rem;
    height: 31.25rem;
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

main .cell-container .cell-item {
    border: 1px solid black;
    width: calc(100% / 10);
    height: 3.125rem;
    text-align: center;
    line-height: 3.125rem;
}

/*---------------
    FOOTER
---------------*/